<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About</title>
  </head>
  <body>
    <h1 style="color:red">About Myself</h1>
    <h1 style="color:orange">I am Md Ayat Ullah</h1>
    <p style="color:pink"> para1 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Dolor sit amet consectetur adipiscing. Nulla pharetra diam sit amet nisl suscipit adipiscing bibendum est. Enim ut sem viverra aliquet eget. Purus non enim praesent elementum facilisis. Interdum consectetur libero id faucibus. Aliquet risus feugiat in ante metus dictum. Mattis ullamcorper velit sed ullamcorper morbi tincidunt. Quisque sagittis purus sit amet volutpat consequat mauris nunc. Vitae nunc sed velit dignissim sodales ut eu sem
       integer.</p>
    <p style="color:magenta">Para 2: In hendrerit gravida rutrum quisque. Massa enim nec dui nunc mattis. Dignissim sodales ut eu sem integer vitae justo eget magna. Cras pulvinar mattis nunc sed blandit libero volutpat sed. Aliquam eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis. Lorem ipsum dolor sit amet. Ornare massa eget egestas purus. Vitae congue eu consequat ac felis donec et. Massa tincidunt dui ut ornare lectus sit amet est. Sit amet consectetur adipiscing elit pellentesque habitant morbi tristique senectus. Sem integer vitae justo eget magna fermentum iaculis. Nisi lacus sed viverra tellus.
    </p>






  </body>
</html>
